include LICENSE

recursive-exclude * ._*
recursive-exclude * ._DS_Store
prune __pycache__
prune .github
prune .vscode
recursive-exclude * *.py[co]

recursive-include docs Makefile make.bat conf.py *.md
